<!-- Recordatorio de link de icono
<a href='https://www.freepik.com/vectors/food'>Food vector created by catalyststuff - www.freepik.com</a> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <meta name="robots" content="index">
    <meta name="description" content="The rolling Avocado is a practicing web site (This is the Main Page)">
    <meta name="author" content="Github:aaroncastillorivera">
    <title>The Rolling Avocado</title>  <!-- Cambiarle el font-family a el titulo -->
</head>
<body>
    <header class="header">
      
    </header>

    <article class="search">

    </article>

    <article class="welcome">

    </article>
    
    <main class="main">

    </main>
    <aside class="aside">
        
    </aside>
    <footer class="footer">

    </footer>

</body>
</html>