<!-- Recordatorio de link de icono
<a href='https://www.freepik.com/vectors/food'>Food vector created by catalyststuff - www.freepik.com</a> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="robots" content="index">
    <meta name="description" content="The rolling Avocado is a practicing web site (This is the Main Page)">
    <meta name="author" content="Github:aaroncastillorivera">
    <title>The Rolling Avocado</title>  <!-- Cambiarle el font-family a el titulo -->
</head>
<body>
    <header class="header">
      <img src=" https://us.123rf.com/450wm/lililia/lililia1711/lililia171100498/90663989-icono-plano-del-vector-del-men%C3%BA-sobre-fondo-negro-.jpg?ver=6" alt="Icono de Opciones">
      <p>Login in</p>
      <p>Sign up</p>
    </header>

    <article class="search">
     <figure>
       <img src="https://image.freepik.com/free-vector/waiters-concept-illustration_114360-2908.jpg" alt="">
       <div class="searchBar">
       </div>
       <figcaption>
        <a href='https://www.freepik.com/vectors/people'>People vector created by stories - www.freepik.com</a>
      </figcaption>
    </figure>

    </article>

    <article class="welcome">
      <figure>
        <img src="https://image.freepik.com/free-vector/cute-avocado-with-surfboard-cartoon-icon-illustration-food-holiday-icon-isolated-flat-cartoon-style_138676-3111.jpg" alt="">
        <figcaption><a href='https://www.freepik.com/vectors/food'> Created by catalyststuff </a></figcaption>
      </figure>
      <h1>Find All  Internacional Food in The Rolling Avocado</h1>
      <p> We are the first option when it comes to deciding what to eat and you like all the gastronomy around the world</p>
    </article>
    
    <main class="main">

    </main>

    <footer class="footer">

    </footer>

</body>
</html>